# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
.pub-cache/
build/

# IntelliJ/Android Studio
.idea/
*.iml

# VS Code
.vscode/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

# Android
android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release

# macOS/Linux temp
.DS_Store
